# Latex
**.orig
**~

# Project files
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs

# Binaries
**.dll
**.exe

# Unity
Library/**
Temp/**
ProjectSettings/**

# Asset packages
Assets/Standard\ Assets/**
Assets/Zigfu/**
